/* .bg-img{
    background-image: url('../src/assets/woman-chef-cooking-vegetables-pan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  } */

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@800&display=swap');

  .containerrr {
    width: 100%;
    margin: auto;

    /* background: url(''); */
    background: url('../../../../public/coverImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken, luminosity;
    background-size: cover;
    object-fit: cover;
   
    opacity: 0.9;

   
    /* width: 100%;
    height: 35rem;
    background: url('../../../../public/coverImg.jpg');
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
 
    object-fit: cover;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    
     position: relative;
     margin: 0; */
  }
 